---
import { sanityClient } from "sanity:client";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";
import SanityImage from "../../components/SanityImage.astro";
import Outline from "../../components/Outline.astro"

const post = await sanityClient.fetch(
  `*[_type == "post" && slug.current == $slug][0]  {
    ...,
  }`, {
    slug: Astro.params.slug,
  }
);

---

<Layout title={post.title} live>
  <article>
    <h1>{post.title}</h1>
		<!--<p>Written by {byline}</p>-->
    <h3>Excerpt</h3>
    <p>{post.excerpt}</p>
    <Outline _id={post._id} _type={post._type} path="mainImage" >
      <SanityImage node={post.mainImage} width="320" />
    </Outline>
    <!-- <PortableText value={post.blurb} />-->
    <PortableText value={post.body} />
  </article>
</Layout>

<style>
  .tight-wrap {
    width: fit-content;
    height: fit-content;
  }
  .tight-wrap imgo {
    display: block; /* Remove extra spacing below the image */
  }
</style>